button {
    position: absolute;
    background-color: antiquewhite;

}

button:hover {
    background-color: aqua;
}

/* el tipo se crea cuando existiran muchos elementos que compartan caracteristicas*/
button:active {
    top: 200px;
    word-wrap: break-word;
    text-decoration: double;
    transform-origin: 65%;
}

/*la clase sirve para cuando un elemento tiene caracteristicas unicas*/
/* puede pasar que comparta caracteristicas con otros y que ademas tenga algunas propias(id) */
#saludo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px black solid;
    margin: auto;
    text-align: center;
    height: 54px;
    width: 204px;
    line-height: 50px;
    /* interlineado */

}